# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyw

*.pem

# Rust
target/

results/


# VSCode
.vscode/

credential.txt

*.log
.env
*batch_*.html

data_fields_cache_*.json
*v2.json

**/venv

credentials.json
credential.json

submitted_alpha.json
data/
*.csv